{% extends 'base.html.twig' %}

{% block body %}
    <div class="pic-detail">

        <div>
            <a href="{{ picture.bigUrl }}" title="View full size img" target="_blank">
                <img src="{{ picture.bigUrl }}" class="pic" alt="{{ picture.title }}">
            </a>
        </div>

        <div>
            <h2>{{ picture.title }}</h2>
            <div>By <a href="{{ path('photographer_pictures', {'name': picture.photographer|url_encode}) }}">{{ picture.photographer }}</a></div>
            <div>{{ picture.description }}</div>

            <h3>Tagged with:</h3>
            {% for tag in picture.tags %}
                <a href="{{ path('pictures_by_tag', {'id': tag.id}) }}" class="tag-link" title="View all pics tagged with {{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}
        </div>

    </div>

    <h3>Similar pictures: </h3>
    <div class="similar-pics pic-list">
        {% for picture in similarPictures %}

            <a href="{{ path('picture_detail', {'id': picture.id}) }}" title="View pic detail">
                <img src="{{ picture.smallUrl }}" class="pic" alt="{{ picture.title }}">
            </a>

        {% endfor %}

    </div>
{% endblock %}

{% block title %}
    {{ picture.title }}
{% endblock %}

