{% extends 'base.html.twig' %}

{% block body %}
    <div class="pic-detail">

        <div>
            <a href="{{ picture.bigUrl }}" title="View full size img" target="_blank">
                <img src="{{ picture.bigUrl }}" class="pic" alt="{{ picture.title }}">
            </a>
        </div>

        <div>
            <h2>{{ picture.title }}</h2>
            <div>{{ picture.description }}</div>

            <h3>Tagged with:</h3>
            {% for tag in picture.tags %}
                <a href="#" class="tag-link" title="View all pics tagged with {{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block title %}
    {{ picture.title }}
{% endblock %}

