{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="search-form-container">
        {{ form(searchForm) }}

        {# ici je fais mon form en HTML, le form symfony ne m'apporterait vraiment rien #}
        <form id="photographer-form" action="{{ path('search_photographer') }}">
            <label for="photographer-input">Search for a photographer:</label>
            <input type="search" name="photographer" id="photographer-input" placeholder="mary">
            <div id="photographer-results-container"></div>
        </form>

        <script>
            //quand on écrit une lettre dans le champ
            $("#photographer-input").on("keyup", function(){
                $.ajax({
                    url: $("#photographer-form").attr("action"),
                    data: {
                        "photographer": $("#photographer-input").val()
                    }
                })
                .done(function(response){
                    console.log(response);
                    $("#photographer-results-container").html(response);
                });
            });
        </script>
    </div>

    <section class="pic-list">

        {% for picture in pictures %}

            <a href="{{ path('picture_detail', {'id': picture.id}) }}" title="View pic detail">
                <img src="{{ picture.smallUrl }}" class="pic" alt="{{ picture.title }}">
            </a>

        {% endfor %}

    </section>
{% endblock %}
